<html>
<head>
<title>Login page</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(()=>{
    let email,pass;
    var socket = io();

    $('#submit').click(function(){

        //console.log(socket);
        myEmail = $('#email').val();
        myPass = $('#password').val();
        // Perform some validation here ...

        $.post("http://localhost:9999/login",
                {email:myEmail,pass:myPass},
                (data)=>{
                    if(data==='everythingOK'){
                        window.location.href="/main";
                    } else {
                        alert('You are NOT logged-in!\nWrong user or password.');
                    }
        });

    });

    //når man trykker på resetDatabaseknappen
    $('#resetDatabase').click(function() {
                console.log("Reset")
                socket.emit('resetDatabase', "Corridor", "admin");
            });
     $('#createNewUser').click(function() {
                console.log("create user")
                 window.location.href="/createUser";
            });
    

});
</script>
</head>
<body>
<h1> <%= title%></h1>
<input type="text" size="40" placeholder="Type your email" id="email"><br />
<input type="password" size="40" placeholder="Type your password" id="password"><br />
<input type="button" value="Submit" id="submit">
<br></br>
<button type='button' id='createNewUser'>Create New User</button>
</body>
</html>